<template>
  <div class="container">
    <div class="row">
      <div class="col-sm center">
        <h1>Ejemplo de impresión</h1>
      </div>
    </div> 
    <div class="row">
      <div class="col-sm">
        <label for="">Nombre</label>
        <input v-model="parametros.nombre" type="text" class="form-control">
      </div>
      <div class="col-sm">
          <label for="">Apellido</label>
          <input v-model="parametros.apellido" type="text" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm">
        <div>Este reporte solo envía la estructura y asume que el servidor tiene acceso a la cadena de conexión</div>
        <button @click="cargarPdf" class="btn btn-primary">Imprimir reporte de base de datos PDF</button>
      </div>
      <div class="col-sm">
        <div>Este reporte solo envía la estructura y asume que el servidor tiene acceso a la cadena de conexión</div>
        <button @click="cargarExcel" class="btn btn-primary">Imprimir reporte de base de datos Excel</button>
      </div>
      <div class="col-sm">
        <div>Este reporte solo envía la estructura y asume que el servidor tiene acceso a la cadena de conexión</div>
        <button @click="cargarHTML" class="btn btn-primary">Imprimir reporte de base de datos HTML</button>
      </div>
    </div> 
    <br>
    <div class="row">
      <div class="col-sm-12">
          <iframe name="frmReporte" frameborder="0" style="width: 100%; height: 700px;"></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import { dbReport, dbReportParams, dbReportData } from "./reportes/dbReport";
import axios from "axios";
export default {
  data() {
    return {
      formatoReporte: "PDF",
      parametros: {
        nombre: 'Jesus',
        apellido: 'Morla'
      }
    };
  },
  methods: {
    cargarDbReport() {
      const parametros = [
        {
          key: "nombre",
          value: this.parametros.nombre
        },
        {
          key: "apellido",
          value: this.parametros.apellido
        }
      ];

      const data = [
        dbReport,
        "",
        this.formatoReporte,
        btoa(JSON.stringify(parametros))
      ];
      const url =
        "https://app.mopc.gob.do/MOPCPrintServer/api/express/resportesimple";
      axios
        .post(url, data, {
          responseType: "arraybuffer"
        })
        .then(result => {
          if (this.formatoReporte === "Excel") {
            const blob = window.URL.createObjectURL(new Blob([result.data]));
            const link = document.createElement("a");
            link.href = blob;
            link.setAttribute("download", "Reporte.xlsx");
            document.body.appendChild(link);
            link.click();
          } else if (this.formatoReporte === "HTML") {
            const blob = window.URL.createObjectURL(new Blob([result.data]));
            const link = document.createElement("a");
            link.href = blob;
            link.setAttribute("download", "Reporte.html");
            document.body.appendChild(link);
            link.click();
          } else {
            let blob = new Blob([result.data], { type: "application/pdf" });
            const link = document.createElement("a"); //Aquí se crea un elemento, pero se le puede agregar a elemento existente
            link.href = window.URL.createObjectURL(blob);
            link.target = "frmReporte";
            //link.download = 'Report.pdf' //Si no se quere mostrar sino descargar
            link.click(); //Cuando se usa elemento existente, si está visible esto es opcional. El reporte se ve cuando le hacen click
          }
        })
        .catch(err => console.log(err));
    },
    cargarPdf() {
      this.formatoReporte = "PDF";
      this.cargarDbReport();
    },
    cargarExcel() {
      this.formatoReporte = "Excel";
      this.cargarDbReport();
    },
    cargarHTML() {
      this.formatoReporte = "HTML";
      this.cargarDbReport();
    }
  },
  beforeMount() {}
};
</script>
<style scoped>
.center {
  text-align: center;
}
</style>
